.restaurant-info {
    height: 20vh;
}

.slide-container{
    margin: 40px 0;
}
.delete-img{
    cursor:pointer;
    color: red;
    position: absolute;
    right: 20px;
    top: 20px;
}

#upload-img{
    display:none
}

.upload-img-btn{
    background-color: rgb(192, 55, 55);
    color:white;
    padding: 7px;
    cursor: pointer;
}

.each-slide {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.restaurant-slide-image {
    width: 90%;
}
