.google-login {
    height: 10vh;
    width: 30vh;
}

.google-login:hover {
    cursor: pointer;
}

.login-display {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}